.slide {
  width: 100vw;
  height: 100vh;
  display: flex;              /* zmiana */
  flex-direction: column;     /* zmiana */
  justify-content: center;    /* pion */
  align-items: center;        /* poziom */
  padding: 5vh 5vw;
  box-sizing: border-box;
  text-align: center;
  background: radial-gradient(circle at 50% 50%, #5f7a8a 0%, #1c2a38 80%, #0e1620 100%);
  color: #e6e6e6;
  font-size: 2vw;
}

b{
  text-shadow: 0 0 0.25vw rgb(206, 235, 104);
}

sub{
  font-size: 1.4vw;
}

.interactive {
  transition: all 0.25s ease;
  cursor: default;
  scale: 1;
}

table{
  width:"90vw",
}

table,th{
  border: 0.4vh solid black;
  border-collapse: collapse;
}

td,tr{
  border: 0.3vh solid black;
  border-collapse: collapse;
  background-color: #4f8a8a;
}

th,td{
  width:15vw;
  height:8vh;
  font-size: 1.5vw;
}

.interactive:hover {
  color: white;
  text-shadow: 0 0 0.5vw rgb(43, 255, 0);
  transform: translateY(-2px);
  scale:1.1;
  font-size: 2.5vw;
}